@CHARSET "UTF-8";

#logo {
	width: 25%;
	height: 30px;
	background: url("/sins/resources/images/logo.png") no-repeat;
	background-size: 100px;
	float: left;
	cursor: pointer;
}

#serchbar {
	width: 49%;
	float: left;
	margin-top: 3px;
	text-align: center;
}

#s {
	line-height: 20px;
	width: 70%;
}

#mylayout {
	width: 25%;
	height: 30px;
	float: left;
}

#my {
	width: 95px;
	height: 30px;
	background: white;
	float: right;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
	font-size: 13px;
}

#m {
	display:block;
	margin:8px auto;
	text-align : center;
}

#allet {
	background: url("/sins/resources/images/allet.png") no-repeat;
	background-size: cover;
	width: 30px;
	height: 30px;
	float: right;
	margin-left: 5%;
	cursor: pointer;
}

#logout {
	background: url("/sins/resources/images/logoutbtm.png") no-repeat;
	background-size: cover;
	width: 30px;
	height: 30px;
	float: right;
	margin-left: 5%;
	cursor: pointer;
}

#message {
	background: url("/sins/resources/images/message.png") no-repeat;
	background-size: cover;
	width: 30px;
	height: 30px;
	float: right;
	margin-left: 5%;
	cursor: pointer;
}
#msglist{
	position : relative;
	border : 1px solid black;;
	top : 100%;
	left : 70%;
	width: 150px;
	height: 200px;
	background: white;
	display: none;
	text-align: center;
}
#blacnk{
	float: right;;
	width : 30px;	
	height: 30px;
	margin-left: 5%;
}
#message {
	background: url("/sins/resources/images/message.png") no-repeat;
	background-size: cover;
	width: 30px;
	height: 30px;
	float: right;
	margin-left: 5%;
	cursor: pointer;
}
.msgajaximg{
	width: 34px;
	height: 34px;
	float: left;;
}
.msglistajax{
	width : 150px;
	height: 35px;
	border: 1px solid black;
	
}

@media screen and (max-width:900px) {
	#serchbar {
		width: 70%;
		float: left;
		margin-top: 3px;
		text-align: center;
	}
	#s {
		width: 80%;
	}
	#mylayout {
		display: none;
	}
}

@media screen and (max-width:500px) {
	#logo {
		width: 15%;
		height: 30px;
		background: url("/sins/resources/images/logo-m.png") no-repeat;
		background-size: 40px;
		float: left;
	}
	#serchbar {
		width: 80%;
		float: left;
		margin-top: 3px;
		margin-left: 3%;
		text-align: center;
	}
	#s {
		width: 90%;
	}
}