@CHARSET "UTF-8";

#p {
	width: 500px;
	margin: 8px auto;
}

#terms {
	float: left;
	cursor: pointer;
	margin-right: 10px;
}

#privacy {
	float: left;
	cursor: pointer;
	margin-right: 10px;
}

#copy {
	float: left;
}

@media screen and (max-width:500px) {
	#p {
		margin-left: 15px;
	}
	#terms {
		font-size: 13px;
	}
	#privacy {
		font-size: 13px;
	}
	#copy {
		font-size: 13px;
	}
}