<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>아이디 찾기</title>
<script type="text/javascript" src="/bgm/common/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
$(function () {
	//이름 정규식
	$('#userName').change(function () {
		var name = $(this).val();
		var namechk = /^[가-힣0-9]{2,6}|[a-zA-Z0-9-_]{4,15}$/; 
			
		if(!namechk.test(name)){
			$('#nameLabel').text('한글은 2~5자 영문은4~20자 이하입력해주세요');
			$('#nameLabel').css({'color':'red', 'font-size':'8px'});
			$(this).css('border','3px solid red');
			$(this).focus();
		}else{
			$('#nameLabel').text('');
			$(this).removeAttr('style');
		}			
	}); 
	//phone 정규식
	$('input[name=userPhone1]').change(function () {
		var phone1 = $(this).val();
		var p1chk = /^[0-9]{3,4}$/;
		if(!p1chk.test(phone1)){
			$('#phone1Label').text('숫자3~4자리 입력해주세요');
			$('#phone1Label').css({'color':'red', 'font-size':'8px'});
			$(this).css('border','3px solid red');
			$(this).focus();
		}else{
			$('#phone1Label').text('');
			$(this).removeAttr('style');
		}
	});
	$('input[name=userPhone2]').change(function () {
		var phone2 = $(this).val();
		var p2chk = /^[0-9]{4}$/;
		if(!p2chk.test(phone2)){
			$('#phone1Label').text('숫자4자리 입력해주세요');
			$('#phone1Label').css({'color':'red', 'font-size':'8px'});
			$(this).css('border','3px solid red');
			$(this).focus();
		}else{
			$('#phone1Label').text('');
			$(this).removeAttr('style');
		}
	});
})

function findId() {
	var result = false;
	var truecnt = 0;
	
	var name = $('#userName');
	var namechk = /^[가-힣0-9]{2,6}|[a-zA-Z-_0-9]{4,15}$/; 
	if(!namechk.test(name.val())){
		$('#nameLabel').text('한글은 2~5자 영문은 20자 이하입력해주세요');
		$('#nameLabel').css({'color':'red', 'font-size':'8px'});
		$(name).css('border','3px solid red');
		$(name).focus();
	}else{
		$('#nameLabel').text('');
		$('#nameLabel').removeAttr('style');
		truecnt++;
	};		
	
	
	var phone1 = $('input[name=userPhone2]').val();
	var p1chk = /^[0-9]{3,4}$/;
	if(!p1chk.test(phone1)){
		$('#phone1Label').text('숫자3~4자리 입력해주세요');
		$('#phone1Label').css({'color':'red', 'font-size':'8px'});
		$(this).css('border','3px solid red');
		$(this).focus();
	}else{
		$('#phone1Label').text('');
		$(this).removeAttr('style');
		truecnt++;
	}

	var phone2 = $('input[name=userPhone2]').val();
	var p2chk = /^[0-9]{4}$/;
	if(!p2chk.test(phone2)){
		$('#phone1Label').text('숫자4자리 입력해주세요');
		$('#phone1Label').css({'color':'red', 'font-size':'8px'});
		$(this).css('border','3px solid red');
		$(this).focus();
	}else{
		$('#phone1Label').text('');
		$(id).removeAttr('style');
		truecnt++;
	}	
	var chguk = $('#guk option:selected').val();
	var i = chguk == 'choice';
	if(!i){
		truecnt++;
	}else{
		$('#phone1Label').text('국번을 선택해주세요');
		$('#phone1Label').css({'color':'red', 'font-size':'8px'});
		$(this).css('border','3px solid red');
	} 
	
	if(truecnt == 4){
		result = true;
	}else{
		truecnt = 0;
	}
	return result;
}
</script>
<style type="text/css">
	table {
		width : 400px;
		height: 10px;
		border: 1px solid rgba(00, 00, 00, 0.5);
		
	}
	div#fidiv{
		vertical-align:middle;
		height: 200px;
		
	}
	td {
		height: 10px;
	}
	input{
		height: 20px;
	}
	input#finbtn{
		width : 220px;
		height: 30px;
	}
	#userName,#userId{
		width : 310px;
	}
	input[name=userPhone1],input[name=userPhone2]{
		width : 112px;
		
	}
	
	
</style>
</head>
<body>
<div align="center" id="fidiv">
	<form action="/bgm/findid" method="post" onsubmit="return findId()">
	  	<table id="login">
   			<tr><td rowspan="2" class="tdLabel">이름 : </td><td><input type="text" id="userName" name="userName" required="required" maxlength="20" placeholder="2글자이상" autofocus="autofocus"> </td></tr>
   			<tr><td colspan="2"><label id="nameLabel"></label></td></tr>
 			<tr><td>연락처 :</td><td>  <select name="guk" id="guk" class="selectField">
                                    <option value="choice" selected="selected">선 택</option>
                                    <option value="010" >010</option>
                                    <option value="011" >011</option>
                                    <option value="016" >016</option>
                                    <option value="018" >018</option>
                                    <option value="019" >019</option>
                              </select>
			
			-<input type="tel" name="userPhone1" size="8" maxlength="4">- <input type="tel" name="userPhone2" size="8" maxlength="4"></td>
			<tr><td><label id="gukLabel"></label></td><td><label id="phone1Label"></label></td><td><label id="phone2Label"></label></td></tr>
			<tr><td></td></tr>
  		  	<tr ><td colspan="2" align="center"><input id="finbtn" type="submit" value="아이디 찾기"></td></tr>
		</table>
	</form>
</div>

</body>
</html>